<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-default navbar-static-top">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Maths Tune-Up</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Excercises</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/addition" routerLinkActive="addition">Additions</a>
          <a class="dropdown-item" routerLink="/substraction" routerLinkActive="addition">Subtractions</a>
          <a class="dropdown-item" routerLink="/pattern" routerLinkActive="pattern">Patterns</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<p-growl [(value)]="msgs"></p-growl>

<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
  </div>
</div>

<router-outlet></router-outlet>


<div class="container">

  <footer class="footer">
    <p>&copy; 2017</p>
  </footer>

</div>
