<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-default navbar-static-top">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Maths Tune-Up</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Addition</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/4A" routerLinkActive="4A">4</a>
          <a class="dropdown-item" routerLink="/5A" routerLinkActive="5A">5</a>
          <a class="dropdown-item" routerLink="/6A" routerLinkActive="6A">6</a>
          <a class="dropdown-item" routerLink="/7A" routerLinkActive="7A">7</a>
          <a class="dropdown-item" routerLink="/8A" routerLinkActive="8A">8</a>
          <a class="dropdown-item" routerLink="/9A" routerLinkActive="9A">9</a>
          <a class="dropdown-item" routerLink="/10A" routerLinkActive="10A">10</a>
          <a class="dropdown-item" routerLink="/11A" routerLinkActive="11A">11</a>
          <a class="dropdown-item" routerLink="/12A" routerLinkActive="12A">12</a>
          <a class="dropdown-item" routerLink="/13A" routerLinkActive="13A">13</a>
          <a class="dropdown-item" routerLink="/14A" routerLinkActive="14A">14</a>
          <a class="dropdown-item" routerLink="/15A" routerLinkActive="15A">15</a>
          <a class="dropdown-item" routerLink="/16A" routerLinkActive="16A">16</a>
          <a class="dropdown-item" routerLink="/17A" routerLinkActive="17A">17</a>
          <a class="dropdown-item" routerLink="/18A" routerLinkActive="18A">18</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Subtraction</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/4B" routerLinkActive="4B">4</a>
          <a class="dropdown-item" routerLink="/5B" routerLinkActive="5B">5</a>
          <a class="dropdown-item" routerLink="/6B" routerLinkActive="6B">6</a>
          <a class="dropdown-item" routerLink="/7B" routerLinkActive="7B">7</a>
          <a class="dropdown-item" routerLink="/8B" routerLinkActive="8B">8</a>
          <a class="dropdown-item" routerLink="/9B" routerLinkActive="9B">9</a>
          <a class="dropdown-item" routerLink="/10B" routerLinkActive="10B">10</a>
          <a class="dropdown-item" routerLink="/11B" routerLinkActive="11B">11</a>
          <a class="dropdown-item" routerLink="/12B" routerLinkActive="12B">12</a>
          <a class="dropdown-item" routerLink="/13B" routerLinkActive="13B">13</a>
          <a class="dropdown-item" routerLink="/14B" routerLinkActive="14B">14</a>
          <a class="dropdown-item" routerLink="/15B" routerLinkActive="15B">15</a>
          <a class="dropdown-item" routerLink="/16B" routerLinkActive="16B">16</a>
          <a class="dropdown-item" routerLink="/17B" routerLinkActive="17B">17</a>
          <a class="dropdown-item" routerLink="/18B" routerLinkActive="18B">18</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<p-growl [(value)]="msgs"></p-growl>

<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
  </div>
</div>

<router-outlet></router-outlet>


<div class="container">

  <footer class="footer">
    <p>&copy; 2017</p>
  </footer>

</div>
